In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Covid;

CREATE TABLE Covid (
  Confirmed INTEGER,
  Deaths INTEGER,
  Recovered INTEGER,
  Active INTEGER,
  Data VARCHAR (20) NOT NULL,
  PRIMARY KEY(Data)
) AS SELECT
    Confirmed,
    Deaths,
    Recovered,
    Active,
    Data
FROM CSVREAD('covid.csv');

In [3]:
SELECT * FROM Covid

In [3]:
DROP TABLE IF EXISTS Temperatura;

CREATE TABLE Temperatura (
  Maximo INTEGER,
  Minimo INTEGER,
  Media INTEGER,
  Data DATE,
  PRIMARY KEY(Data)
) AS SELECT
    maxtempC,
    mintempC,
    avgtempC,
    Data
FROM CSVREAD('weather.csv');

In [5]:
SELECT * FROM Temperatura

* Selecionando um intervalo de datas a partir do formato atual da tabela Covid

In [6]:
SELECT * FROM Covid
WHERE Data LIKE '%-03-%' AND RIGHT(LEFT(Data,10),2) < 21 AND RIGHT(LEFT(Data,10),2) > 09

* Por conta da dificuldade ao selecionar datas, criamos uma tabela nova, alterando a coluna "Data" para um formato padrão de Data

In [4]:
DROP TABLE IF EXISTS Covid_Data;

CREATE TABLE Covid_Data (
  Confirmed INTEGER,
  Deaths INTEGER,
  Recovered INTEGER,
  Active INTEGER,
  Data DATE,
  PRIMARY KEY(Data)
) AS SELECT
    Confirmed,
    Deaths,
    Recovered,
    Active,
    LEFT(Data,10)
FROM Covid;

SELECT * FROM Covid_Data

* Junção de ambas as tabelas a partir da data

In [8]:
DROP VIEW IF EXISTS Covid_Temp;

CREATE VIEW Covid_Temp AS
SELECT C.Confirmed, C.Deaths, C.Recovered, T.Maximo, T.Minimo, T.Media, T.Data
FROM Covid_Data AS C, Temperatura AS T
WHERE C.Data = T.Data;

SELECT * FROM Covid_Temp

* Usando a biblioteca AdventureWorks2012 para conseguir as informações do crescimento percentual dos confirmados

In [10]:
USE AdventureWorks2012;

DROP VIEW IF EXISTS Covid_Percent;

CREATE VIEW Covid_Percent AS
SELECT 
C.Confirmed, 
(C.Confirmed - LAG(C.Confirmed))/LAG(C.Confirmed) OVER (ORDER BY T.Data) AS ConfirmedIncrease,
C.Deaths, 
(C.Deaths - LAG(C.Deaths))/LAG(C.Deaths) OVER (ORDER BY T.Data) AS DeathsIncrease,
C.Recovered, 
T.Maximo, 
T.Minimo,
T.Media,
(T.Media - LAG(T.Media))/LAG(T.Media) OVER (ORDER BY T.Data) AS AverageTemperatureIncrease,
T.Data, 
FROM Covid_Data AS C, Temperatura AS T
WHERE C.Data = T.Data;
ORDER BY T.Data

SELECT * FROM Covid_Percent

org.h2.jdbc.JdbcSQLException:  Schema "ADVENTUREWORKS2012" not found; SQL statement

* Obtendo os dados de crescimento percentual sem usar a biblioteca

In [6]:
DROP VIEW IF EXISTS Covid_Percent;

CREATE VIEW Covid_Percent AS
SELECT 
C.Confirmed as Cases, 
COALESCE((C.Confirmed - CL.Confirmed)/ NULLIF(CAST(CL.Confirmed AS FLOAT), 0), 0) + 0.0 AS CasesVariation,
C.Deaths,
COALESCE((C.Deaths - CL.Deaths)/ NULLIF(CAST(CL.Deaths AS FLOAT), 0), 0) + 0.0 AS DeathsVariation,
C.Recovered, 
T.Maximo, 
T.Minimo,
T.Media,
T.Data
FROM Covid_Data AS C, Covid_Data AS CL, Temperatura AS T
WHERE CL.Data = DATEADD(day, -1, C.Data) AND C.Data = T.Data
ORDER BY T.Data;

SELECT * FROM Covid_Percent