In [8]:
%defaultDatasource jdbc:h2:mem:db

# Carrega os dados de COVID-19

In [2]:
DROP TABLE IF EXISTS Covid;

CREATE TABLE Covid(
    code VARCHAR(2),
    name VARCHAR(100),
    cases INT,
    deaths INT,
    recoveries INT,
    day DATE NOT NULL
) 
AS SELECT codigo, nome, confirmados, mortes, recuperados, data
FROM CSVREAD('https://raw.githubusercontent.com/MatheusBulhoes/MC536-Trabalho/main/final/covid.csv')

In [3]:
SELECT * FROM Covid;

In [4]:
DROP TABLE IF EXISTS Weather;

CREATE TABLE Weather(
    code VARCHAR(2),
    name VARCHAR(100),
    averageTemp INT,
    averagePressure INT,
    averageHumidity INT,
    day DATETIME NOT NULL
)

AS SELECT codigo, nome, tempmedia, pressao, umidade, data
FROM CSVREAD('https://raw.githubusercontent.com/MatheusBulhoes/MC536-Trabalho/main/final/weather.csv')

In [5]:
SELECT * FROM Weather;

In [7]:
SELECT Covid.code, Covid.name, Covid.cases, Covid.deaths, Weather.averageTemp, Covid.day
FROM Covid
JOIN Weather ON Covid.day = Weather.day AND Covid.code = Weather.code;